# A Comment

Host *
    IdentityFile .\default.key
    User root

Host 192.168.1.2
    Port 22

Host web-srv-3
    HostName 10.11.12.13
    Port 5022

Host 192.168.*
    User root
    IdentityFile .\my-private.key
    
Host 192.168.1.1[012]
    User Webmin
    IdentityFile .\Webserver.key
    
Host Webservers
    HostName 192.168.1.10
    HostName 192.168.1.11
    HostName web-srv-3
    Port 2222
    
Include .\config.d\*.conf
    
 # Examples:
 # ssh WebServers 192.168.1.2 -e "echo Hello World! > ~/hello.txt"
 #   - Searches the %USERPROFILE%\.ssh\config File for "Webservers"
 #   - If found, it reads all Options for this "Host" and uses it for 'all' the HostName there
 #   - Recursively searches for every 'HostName' found in the 'Webservers' section
 #   - If not found, it searches for RegEx Matches in the Host Sections from top to bottom and applies all found options
 # 
 #   - connects to 192.168.1.10 on Port 2222 with user Webmin and IdentityFile .\Webserver.key
 #   - connects to 192.168.1.11 on Port 2222 with user Webmin and IdentityFile .\Webserver.key
 #   - connects to 10.11.12.13 on Port 5022 with user root and IdentityFile .\default.key
 #   - connects to 192.168.1.2 on Port 22 with user root and IdentityFile .\my-private.key
 #   - executes the given command on each
 
